/*SELECTOR DE ETIQUETA header-section*/

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?rkvfuz');
  src:  url('../fonts/icomoon.eot?rkvfuz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rkvfuz') format('truetype'),
    url('../fonts/icomoon.woff?rkvfuz') format('woff'),
    url('../fonts/icomoon.svg?rkvfuz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
  color: #e4405f;
}
.icon-facebook:before {
  content: "\e902";
  color: #3b5998;
}
.icon-twitter:before {
  content: "\e903";
  color: #1da1f2;
}
.icon-menu:before {
  content: "\e905";
}
.icon-options:before {
  content: "\e905";
}
.icon-hamburger:before {
  content: "\e905";
}


header{
  background: pink;
  color:red;
  display:flex;
  justify-content: space-between;
  align-items:center;
  height: 90px;
}

header ul{
  display: flex;
  height: inherit;
}

header ul li{
  height: inherit;
}

header a{
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}

.menu{
  height: inherit;
}

.event-list-title{
  margin-left: 20px;
}

ul{
  display: flex;

}


/*SELECTOR DE ETIQUETA selector descendente*/
body header div nav ul li a {

}

/*SELECTOR DE ETIQUETA selector de clase .*  */
.link{

}

ol,ul{
  margin:0;
  padding:0;
  list-style: none;

}

figure{
  margin: 0;
}

body{
  font-family: Roboto-Regular,Helvetica,sans-serif;
  margin:0px;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto-Regular','Times New Roman', Times,serif;
  font-weight: normal;

}

h1{
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: -.2px;
  text-transform: uppercase;
  text-decoration: underline;
  color: white;
  margin: 0;
}
h1 strong{
  color:#026fff;
}

h2{
  color: #026fff;
  text-transform: uppercase;
  font-family: Roboto-Bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.portafolio{
  background-color: #fafafa;
  padding: 20px;
}

.project{
/*
  border-top: 10px solid red;
  border-right: 10px solid green;*/
  /*border-color: red;
  border-width: 10px;
  border-style: solid;*/
  border: 1px solid gray;
  border-radius: 10px;
  border-top-left-radius: 50px;
  background-color: #ffffff;
  /*margin: 50px;*/
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-discussion{
  font-size: 24px;
  font-family: Roboto-Regular;
}

.project strong{
  font-family: Roboto-Bold;
}

.project-title{
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.project-course,.project-date,.project-url {
  margin: 10px 0;
}

{
  margin: 10px 0;
}

.project-details{
  width: 500px;
}

.project-figureContainer{
  width: 500px;
}


.header{
  background-color: #1b2127;
  color:white;
  flex-wrap: wrap;
}

header a{
  color: white;
  text-decoration: none;
}

.hero{
  height: 300px;
  /*background-image: url("../images/Days Theme Main.jpg");*/
  /*background-size: 500px 300px;*/
  /*background-repeat: no-repeat;*/
  /*background-position: right;*/
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-img{
  object-fit: cover;
}


.flexbox{

}

.box{
  width: 200px;
  height: 200px;
  /*border: 1px solid red;*/
}
 footer{
   background-color: #1b2127;
   color: white;
   display: flex;
   align-items: center;
   justify-content:
   justify-content: space-between;
   flex-wrap: wrap;
 }

 footer img{
   vertical-align: middle;
 }

footer a{
  color: white;

}
 .event{
   /*border: 1px solid red;*/
   margin: 1px;
   width: 48%;
   border-radius: 10px;
   background-color: #f4fbff;

 }
 .event-list{
   display: flex;
   flex-wrap: wrap;

 }

 .event img{
   width: 450px;
   height: 200px;
   object-fit: cover;
 }

 .event-detail{
   margin: 20px 40px;
   margin-top: -40px;
   background-color: white;
   position: relative;
   padding: 20px;
   text-align: center;
 }

.description{
  text-align: left;
}

.event-url{
  border: 1px solid #056fff;
  padding: 5px 20px;
  text-decoration: none;
  color:#056fff;
  border-radius: 5px;
}

.contact{
  background-color: #056fff;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;


}

.social{
  /*border: 1px solid red;*/
}

.social-link{
  width: 50px;
  height: 50px;
  border: 1px solid white;
  display: inline-block;
  /*background-size: 50px 50px;*/
  margin: 10px;
  background-color: white;
  font-size: 50px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
}



.social a{
  border-radius: .1em;
}

.form-email input{
  border-color: gray;
  padding: 5px 20px 5px 25px;
  background-image: url('../images/msj.png');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y:center;
  background-position-x:5px;
  border-style: solid;

}

.form-email button{
  display: block;
  background: transparent;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}

.burger-menu{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(0,0,0,.8);
  display: none;
  text-align: center;
  line-height: 40px;
  position: fixed;
  left: 5px;
  top: 5px;
  color: white;
  font-size: 20px;
  z-index: 4;

}

.container{
  /*border:1px solid red;*/
  max-width: 1000px;
  flex:1;
  margin: 0 auto;;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.hero-img{

}

@media screen and (max-width:1024px){
   .container{
     padding: 0 1em;
   }

   .hero{
     height: auto;
     position: relative;
     overflow: hidden;
     padding: 2em;

   }

   h1{
     font-size: 2em;
     z-index: 2;
   }

   .hero-img{
     position: absolute;
     z-index: 1;
     left: 0;
     right: 0;
     top:0;
     bottom: 0;
   }
}

.html-video{
  max-width: 100%;
  height: auto;


}

.flexible-video{
  width: 100%;
  height:0;
  padding-top:56.25%;
  background-color: blue;
  position: relative;

}

.youtube-video{
  /*width: 100%;
  height: auto;*/
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /*z-index: 3;*/
}
@media screen and (max-width:767px){
  body{
    /*border:10px solid green;*/
  }

  .header{
    display: block;
    height: auto;
  }

  .header ul{
    display: block;
  }

  .menu{
    display: flex;
    position: fixed;
    background-color: rgba(5,111,255,.9);
    z-index: 3;
    width: 100vw;
    left: -100vw;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    transition: 3s;
    text-decoration: underline;
    font-size: 40px;
  }

  .menu.is-active{
    left: 0;
  }
  .header ul li{
    height: 50px;
    text-align: center;
  }

  header a{
    justify-content: center;
  }



  .header .logo{
    text-align: center;
  }

  .event{
    width: auto;
    flex-shrink:initial;
  }

  .event img{
    width: 100%
  }

  .burger-menu{
    display: none;
  }


}

@media screen and (max-width:480px){
 .project-details{
   font-size: 12px;
 }

 .burger-menu{
   display: block;
 }

 h1{
   font-size: 1.5em;
 }

 .event-detail{
   margin: -2em .5em .5em;
   padding: 1em;
 }

 .contact{
   height: auto;
   padding: 1em 0;
   display: block;
   text-align: center;
 }

 .form-email button{
   margin: 1em auto;
 }

 .form-email h3{
   margin-top: 0;
 }

 .footer{
   display: block;
   text-align: center;
   border: 1px solid transparent;
 }
}

@media screen and (max-width:320px){
 h1{
   font-size: 1em;
   background-color: rgb(0,0,0,.5)
 }
 .hero{
   padding: 2em;
 }
}
